<form action="{{ url('search/results') }}" id="search-form" method="get" role="search">
    <input type="search" name="q" class="form-control input-field" placeholder="Search..." autocomplete="on" name="seach">
    <button type="submit" title="Search" id="search-submit" value="Search">
        <i class="fa fa-search"></i>
    </button>
</form>